

/* DEBUG */

[class*="col-"] {
    background-color: #006cfa;
    border: solid 1px #ffff;
    height: fit-content;
    min-height: 50px;
    display: flex;
    justify-content: center;
}

.box{
    color: white;
    display: block;
    align-self: center;
}

.vspace{
    padding: 0.5rem;
    margin: 0.5rem 0;
}

[class*="col-"].nested {
    background-color: rgb(35, 173, 53);
}

[class*="offset"]{
    border: none;
}
